/* 
.app-container
.header-container 
.header-title

.main-container
.beast-container
.beast-body
.beast-title
.beast-heart
.beast-favorites
.beast-image
.favorite
.beast-button
.beast-description


.footer-container
.footer-creator
*/

body {
  position:relative;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.header-container{
  position:relative;
}

.header-title {
  text-align:center;
}

.beast-container {
  margin-top:2em;
  max-width:200px;
}

.beast-body {
  display:flex;
  flex-direction:column;
  justify-items:space-evenly;
  align-items:center;
}
.beast-heart {
  display:inline;
}
.beast-favorites {
  display:inline;
  margin-left:0.5em;
}
.beast-image {
  width:200px;
  height:200px;
  object-fit:cover;
}
.favorite {
  outline:3px solid black;
}
.beast-button {
  margin-left:0.5em;
}
.beast-description {
  text-align:center;
}
/* .modal-overlay {
  position:fixed;
  top:0px;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.7);
  z-index:999;
}
.modal-container {
  outline:2px solid red;
  position:fixed;
  width:300px;
  height:500px;
  padding:50px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color:#FFF;
  z-index:1000;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
} */

.modal-body {
  display:flex;
  flex-direction:column;
  align-items:center;
}
.modal-button {
  margin:1em;
}

.footer-creator {
  margin-top:2em;
  text-align:center;
}